body {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.web {
  text-decoration: none;
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.web-span {
  color: #2196f3;
}

.list {
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.list:hover {
  color: #2196f3;
}

.list:focus {
  color: #2196f3;
}

.adres-el {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.adres-el:hover {
  color: #2196f3;
}

.adres-el:focus {
  color: #2196f3;
}

.main-title {
  background-color: #2f303a;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
}

.button-title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  background: #2196f3;
}

.function {
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
}

.function-paragraph {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

.headlines {
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
}

.function-name {
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}

.footer {
  background: #2f303a;
}

.web-footer {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.adres {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button-li {
}
